<!DOCTYPE html>
<html lang="he" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>התחברות - Naor&Yam Bucket</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body class="landing">
<main id="main-container">
    <div class="welcome-header">
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="לוגו" class="login-logo">
        <h1>Welcome to Naor & Yam - Bucket 💕</h1>
    </div>

    <!-- הודעות שגיאה/הצלחה -->
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="flash-message">
          {% for message in messages %}
            <p>{{ message }}</p>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

    <form method="POST" action="{{ url_for('login') }}">
        <label for="member_pin">🔑 הכנס קוד משתמש אישי:</label>
        <input id="member_pin" name="member_pin" type="text" placeholder="למשל: 12" required>
        <br><br>
        <button type="submit" id="login-btn">התחברות 🚀</button>
    </form>

    <br>
    <form action="{{ url_for('create_group_form') }}">
        <button id="new_group-btn">➕ יצירת קבוצה חדשה</button>
    </form>
</main>
</body>
</html>